<div class="shared-header">
    <div class="logo-wrapper">
        <img src="assets/images/Logo-white.png" />
    </div>

    <div class="shared-header-inner">
        {{#if session.isAuthenticated}}
            Logged in as  @ {{ session.data.authenticated.korisnik.username }}
        <div class="login-button-wrapper">
                <button {{action "logout"}}>LOG OUT</button>
        </div>
        {{else}}
            <div class="shared-header-inner-login">
                <div class="login-data-wrapper">
                    {{input placeholder="username" value=model.username}}
                    {{input type="password" placeholder="password" value=model.password}}
                </div>
                <div class="login-button-wrapper">
                    <button disabled={{ isToSAccepted }} {{action "login"}}>LOG IN</button>
                    <h4 style="color:red">{{errorMessage}}</h4>
                </div>
            </div>
        {{/if}}
    </div>
</div>