{{outlet}}
<div class="container-fluid">
    <div class="row content">
        {{side-navigation}}
        <div class="col-sm-9">
            <div class="container">
                <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="image-all">
                            <img class="img-responsive" src="http://queenaration.com/wp-content/uploads/2016/07/QueenAvatar-128x128.jpg" alt="Quenn">
                            <div class="rating">
                                <p>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                    <span class="glyphicon glyphicon-heart"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="profileTopForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="datumRodjenja">Name:</label>
                                    </div>
                                    <div class="col-sm-10">
                                     {{input type="text" class="form-control" rows="1"  valueBinding="name"}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="Spol">Surname:</label>
                                    </div>
                                    <div class="col-sm-10">
                                       {{input type="text" class="form-control" rows="1" valueBinding="prezime"}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="zanimanje">Work:</label>
                                    </div>
                                    <div class="col-sm-10">
                                      {{input type="text" class="form-control" rows="1" valueBinding="zanimanje"}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="grad">City:</label>
                                    </div>
                                    <div class="col-sm-10">
                                        {{input type="text" class="form-control" rows="1"  valueBinding="grad"}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="jezici">Email:</label>
                                    </div>
                                    <div class="col-sm-10">
                                        {{input type="text" class="form-control" rows="1"  valueBinding="email"}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ovodole">
                        <div class="about-me-form">
                            <label for="about-me"><SMALL> O MENI </SMALL></label>
                           {{textarea value=omeni class="form-control" rows="5"}}
                        </div>
                        <br>
                        <div class="interests-form">
                            <label for="interests"><SMALL> MOJA INTERESOVANJA </SMALL></label>
                            {{textarea value=interesi class="form-control" rows="5"}}
                        </div>
                    </div>
                       {{#link-to 'profil'}} <button class="dugmic" {{ action 'spasiPromjeneKorisnika'}}> Potvrdi </button>  {{/link-to}}
                       {{#link-to 'profil'}} <button class="dugmic" > Nazad </button>  {{/link-to}}
                </div>
            </div>
        </div>
    </div>
</div>
