<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <form {{action "promijeniSifru" this on="submit"}}>
          <div class="register-fields">
    {{errorOldPassword}}
           {{input type="password" placeholder="Type Old Password" value=oldpassword}}
           <br><br>
    {{errorNewPassword}}
          {{input type="password" placeholder="Type New Password" value=newpassword}}
          <br><br>
    {{errorConfirmedPassword}}
          {{input type="password" placeholder="Confirm Password" value=newconfirmedPassword}}

          </div>
          <div class="register-button">
            <h4 style="color:red">{{errorMessage}}</h4>
              <button class="dugmic">Confirm</button>
          </div>
      </form>
    </div>
  </div>
</div>
