{{outlet}}
<div class="container-fluid">
    <div class="row content">
        {{side-navigation}}
        <div class="col-sm-9">
            <div class="container">
                <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="image-all">
                            <img class="img-responsive" src="http://queenaration.com/wp-content/uploads/2016/07/QueenAvatar-128x128.jpg" alt="Quenn">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="profileTopForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="datumRodjenja">NAME:</label>
                                    </div>
                                    <div class="col-sm-10">
                                     {{input  class="form-control" rows="1"   value=session.data.authenticated.korisnik.firstName }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="Spol">SURNAME:</label>
                                    </div>
                                    <div class="col-sm-10">
                                    {{input  class="form-control" rows="1"   value=session.data.authenticated.korisnik.lastName }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="zanimanje">WORK:</label>
                                    </div>
                                    <div class="col-sm-10">
                                    {{input  class="form-control" rows="1"   value=session.data.authenticated.korisnik.zanimanje}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="grad">CITY:</label>
                                    </div>
                                    <div class="col-sm-10">
                                          {{input  class="form-control" rows="1"   value=session.data.authenticated.korisnik.location}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label for="jezici">EMAIL:</label>
                                    </div>
                                    <div class="col-sm-10">
                                      {{input  class="form-control" rows="1"   value=session.data.authenticated.korisnik.email}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ovodole">
                        <div class="about-me-form">
                            <label for="about-me"><SMALL> ABOUT ME </SMALL></label>
                           {{textarea class="form-control" rows="5" value=session.data.authenticated.korisnik.omeni}}
                        </div>
                        <br>
                        <div class="interests-form">
                            <label for="interests"><SMALL> I'M INTERESTED IN... </SMALL></label>
                             {{textarea class="form-control" rows="5" value=session.data.authenticated.korisnik.interesovanja}}
                        </div>
                    </div>
                        <button class="dugmic1" {{ action 'spasiPromjeneKorisnika'}}> Save Changes </button>
                       {{#link-to 'profil'}} <button class="dugmic2" {{ action 'azurirajPromjene'}}> Back </button>  {{/link-to}}
                </div>
            </div>
        </div>
    </div>
</div>
