<div class="route-login">
    <div class="col-lg-6 col-md-5"></div>
    <div class="register-wrapper col-lg-4 col-md-4">
        <div class="register-headers">
            <h1>CREATE A NEW ACCOUNT</h1>
            <h2>CONNECT WITH PEOPLE, IDEAS AND OPPORTUNITIES.</h2>
        </div>
        <div class="register-fields">
            {{input placeholder="username" value=model.username}}
            {{input placeholder="email address" value=model.email}}
            {{input type="password" placeholder="password" value=model.password}}
            {{input type="password" placeholder="confirm password" value=model.confirmedPassword}}
            
            <div class="terms-of-conditions">
                {{ input type="checkbox" checked=isToSCheckboxChecked class=(if isToSCheckboxChecked 'new' 'old') }}
                <span>
                    By signing up, you are accepting Networking terms and conditions
                </span>
            </div>
        </div>
        <div class="register-button">
            <button disabled={{ isToSAccepted }} {{ action 'register' }}>SIGN UP</button> {{ success }}
        </div>
    </div>
</div>
