<div class="route-login">
    <div class="col-lg-6 col-md-5"></div>
    <div class="register-wrapper col-lg-4 col-md-4">
     {{#if session.isAuthenticated}}
          <h2>CONNECT WITH PEOPLE, IDEAS AND OPPORTUNITIES.</h2>
     {{else}}
        <div class="register-headers">
            <h1>CREATE A NEW ACCOUNT</h1>
            <h2>CONNECT WITH PEOPLE, IDEAS AND OPPORTUNITIES.</h2>
             <h2 style="color:red"> {{registracijamsg}} </h2>
        </div>
        <form {{action "registerUser" this on="submit"}}>
            <div class="register-fields">
			{{errorUsername}}
            {{input placeholder="Username" value=model.username}}
			{{errorEmail}}
            {{input placeholder="Email address" value=model.email}}
			{{errorPassword}}
            {{input type="password" placeholder="Password" value=model.password}}
			{{errorConfirmedPassword}}
            {{input type="password" placeholder="Confirm password" value=model.confirmedPassword}}

            <div class="terms-of-conditions">
                {{ input type="checkbox" checked=isToSCheckboxChecked class=(if isToSCheckboxChecked 'new' 'old') }}
                <span>
                    By signing up, you are accepting Networking terms and conditions
                </span>
            </div>
            </div>
            <div class="register-button">
                <button class= "dugmic "disabled={{ isToSAccepted }} {{ action 'registerUser' }} >SIGN UP</button>
            </div>
        </form>
        {{/if}}
    </div>
</div>
