{{outlet}}
<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4><small>VIEW ALL BAN REQUESTS</small></h4>
      <h4 style="color:green">{{Message}}</h4>
      <h4 style="color:green">{{Message2}}</h4>
      <table class="table table-striped">
         <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Reason</th>
              <th>ChatGroup</th>
              <th>Accept</th>
              <th>Deny</th>
            </tr>
         </thead>
         <tbody>
             {{#each model as |ban|}}
               <tr> 
               <td>{{ban.sourceusername}}</td>
            <td>{{ban.targetusername}}</td>
            <td>{{ban.reason}}</td>
            <td>{{ban.groupname}}</td>
          <td><button {{ action 'banujKorisnika' ban.targetId ban.chatGroupId ban.id }} class ="btn">Accept</button></td>
            <td><button {{ action 'odbijbanKorisnika' ban.id }} class ="btn">Deny</button></td>
        </tr>
        {{/each}}
         </tbody>
      </table>
      {{#link-to 'adminpanel'}} <button class="btn" id="back"> Back </button>  {{/link-to}}
    </div>

  </div>
</div>

