{{outlet}}
<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4><small>VIEW ALL USERS</small></h4>
      <h4 style="color:green">{{Message}}</h4>
      <table class="table table-striped">
         <thead>
            <tr>
              <th>Name </th>
              <th>Surname </th>
              <th>Username </th>
              <th>Email </th>
              <th>Option </th>
              <th>Option </th>
            </tr>
           </thead>
           <tbody>
 {{#each model.usersToDelete as |osoba|}}
  <tr id = "visina_reda">
      <td> {{osoba.firstName}} </td>
      <td> {{osoba.lastName}}  </td>
      <td> {{#link-to 'pregledprofila' osoba.id }} {{osoba.username}} {{/link-to}}</td>
      <td> {{osoba.email}}   </td>
      <td><button {{ action 'obrisiUsera' osoba.id }} class="btn"> Delete User </button></td>
      <td>{{#link-to 'pregledprofila' osoba.id }} <button class="btn"> View profile </button> {{/link-to}}</td>
</tr>
 {{/each}}

         </tbody>
      </table>
      {{#link-to 'adminpanel' }}<button class="btn" id="back"> Back </button>  {{/link-to}}
    </div>

  </div>
</div>
