{{outlet}}
<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4><small>VIEW ALL BAN REQUESTS</small></h4>
      <table class="table table-striped">
         <thead>
            <tr>
              <th>From</th>
              <th>To</th>
              <th>Reason</th>
              <th>ChatGroup</th>
              <th>Accept/Deny</th>
            </tr>
         </thead>
         <tr>
          <td>
             {{#each model as |ban|}}
               <tr> <td>{{ban.sourceusername}}</td></tr>
             {{/each}}
           </td>
           <td>
           {{#each model as |ban|}}
             <tr> <td>{{ban.targetusername}}</td> </tr>
           {{/each}}
           </td>
           <td>
           {{#each model as |ban|}}
             <tr> <td>{{ban.reason}}</td> </tr>
           {{/each}}
           </td>
           <td>
           {{#each model as |ban|}}
             <tr> <td>{{ban.groupname}}</td> </tr>
           {{/each}}
           </td>
           <td>
              <td><button>Accept</button></td>
               <td><button>Deny</button></td>
           </td>
        </tr>
         <!--<tbody> - SPECIFICIRAJTE SAMO ŠTA VAM SE KUPI IZ BAZE U KOLONAMA ISPOD
            {{#each model as |osoba|}}
              <tr>
              <td>{{osoba.username}}</td>
     			<td >{{osoba.email }}</td>
              <td><button {{ action 'inviteUser' osoba.username }}>View</button></td>
              </tr>
            {{/each}}
         </tbody>-->
      </table>
      {{#link-to 'adminpanel'}} <button class="back" > Back </button>  {{/link-to}}
    </div>

  </div>
</div>

