{{outlet}}
<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4><small>VIEW ALL GROUPS</small></h4>
      <table class="table table-striped">
         <thead>
            <tr>
              <th>Group Name </th>
              <th>Description  </th>
              <th>View </th>

</tr>
</thead>
<tr>
<td>
<tr>
  <td>
{{#each model as |grupa|}}
  <tr>
  <td>{{grupa.name}}</td>
  </tr>
    {{/each}}
  </td>
</tr>
</td>

  <td>
{{#each model as |grupa|}}
      <tr>
      <td>{{grupa.description}}</td>

    </tr>
    {{/each}}
  </td>
  <td>
  {{#each model as |grupa|}}
      <tr>
      <button {{ action 'obrišiGrupu' grupa.id }}> Obriši grupu </button>
    </tr>
    {{/each}}
  </td>
  </tr>
         <!--<tbody> - SPECIFICIRAJTE SAMO ŠTA VAM SE KUPI IZ BAZE U KOLONAMA ISPOD
            {{#each model as |osoba|}}
              <tr>
              <td>{{osoba.username}}</td>
          <td >{{osoba.email }}</td>
              <td><button {{ action 'inviteUser' osoba.username }}>View</button></td>
              </tr>
            {{/each}}
         </tbody>-->
      </table>
    </div>

  </div>
</div>
