{{outlet}}
<div class="container-fluid">
  <div class="row content">
{{side-navigation}}
    <div class="col-sm-9">
      <h4><small>VIEW ALL GROUPS</small></h4>
      <table class="table table-striped" id="grupe">
         <thead>
            <tr id="red">
              <th>Group Name</th>
              <th>Description</th>
              <th> Option </th>
            </tr>
        </thead>
       <tbody>
{{#each model as |grupa|}}
  <tr>
  <td>{{grupa.name}}</td>
  <td>{{grupa.description}}</td>
  <td><button {{ action 'obrišiGrupu' grupa.id }} class="btn"> Delete Group </button></td>
  </tr>
  {{/each}}
</tbody>
      </table>
      {{#link-to 'adminpanel'}} <button class="btn" id="back"> Back </button>  {{/link-to}}
    </div>
  </div>
</div>
